 <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Strava.comp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<!--    <script src="https://kit.fontawesome.com/a076d05399.js"></script>-->
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">Strava.comp</label>
      <ul>
<!--        <li><a class="active" href="#">Home</a></li>-->
        <li><a href="#" onclick="fetch('/index', { method: 'POST' }); return false;">Login</a></li>
        <li><a href="#"onclick="loadPage('.graph_page.html')">Graph</a></li>
<!--        <li><a href="#">Contact</a></li>-->
<!--        <li><a href="#">Feedback</a></li>-->
      </ul>
    </nav>
<section id="content">'
    <style>
        #plotly-div {
            width: 100%;  /* Ensures the div takes full page width */
        }
        </style>
    <!-- graph -->'
</section>
    <script>
  if (!localStorage.getItem('reloaded')) {
    // Reload the page once
    localStorage.setItem('reloaded', 'true');
    window.location.reload();
  }
</script>
<script>
  function loadPage(pageUrl) {
    fetch(pageUrl)
      .then(response => response.text())
      .then(html => {
        document.getElementById('content').innerHTML = html;
      })
      .catch(error => console.error('Error loading page:', error));
  }
</script>
</body>
</html>
