<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Strava.comp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='styles/logo.ico') }}" type="image/x-icon">
</head>
<body>
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo">Analize your runs</label>
    <ul>
        <li><a href="#" onclick="loadOverlay(); return false;">Login</a></li>
        <li><a href="" onclick="loadPage('/graph')">Graph</a></li>
        <li><a href="" onclick="loadPage('/activities')">Activities</a></li>
        <li><a href="" onclick="loadPage('/ai')">AI</a></li>
    </ul>
</nav>

<!-- Reserved area for graph content -->
<section id="welcome">
    <div id="welcome-content">
    </div>
</section>
<section id="graph">
    <div id="graph-content">
        <!-- graph -->
    </div>
</section>

<!--&lt;!&ndash; Reserved area for activities (table) content &ndash;&gt;-->
<!--<section id="activities">-->
<!--    <div id="activities-content">-->
<!--        &lt;!&ndash; table &ndash;&gt;-->
<!--    </div>-->
<!--</section>-->

<!--&lt;!&ndash; Reserved area for AI content &ndash;&gt;-->
<!--<section id="ai">-->
<!--    <div id="ai-content">-->
<!--        &lt;!&ndash; ai &ndash;&gt;-->
<!--    </div>-->
<!--</section>-->

<script>
    function loadPage(url, targetId) {
        fetch(url)
            .then(response => response.text())
            .then(html => {
                document.getElementById(targetId).innerHTML = html;
            })
            .catch(error => console.error('Error fetching page:', error));
    }

    function loadOverlay() {
        fetch('/login')
            .then(response => response.text())
            .then(html => {
                document.getElementById('welcome-content').innerHTML = html;
            })
            .catch(error => console.error('Error fetching overlay:', error));
    }
</script>
</body>
</html>
